# Web Framework & Server
fastapi
uvicorn
python-multipart

# Environment Variables
python-dotenv

# Frontend
streamlit
requests

# Database & GUI
chromadb
chromadb-admin

# AI Models & LangChain
langchain
langchain-community
langchain-text-splitters
pypdf
google-generativeai
cohere
openai
huggingface_hub